<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false"
      autoReload="true" internalLogFile="internalLogFile.log" internalLogLevel="Warn" >

    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

    <variable name="fileLogDir" value="${basedir}/log"/>
    <variable name="fileLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} Thread=${threadname}:${threadid} ${level:uppercase=true} in ${logger}: ${message}. ${exception:format=ToString}"/>

    <targets async="true">

        <target xsi:type="Console"
          name="Console"
          layout="Thread ${threadname}:${threadid} ${level:uppercase=true} ${logger}: ${message}. ${exception:format=ToString}"
          error="true" />

        <target
            name="databaseLog"
            dbProvider="mssql"
            xsi:type="Database"
            connectionString="Data Source=172.16.20.67\mssql2008; Initial Catalog=Logs;Persist Security Info=True;User ID=log_writer;Password=gfhjkm"
            commandText="exec AddLog @MachineName=@machinename, @Source=@source, @SubSource=@subsource, @Level=@level, @ThreadName=@threadname, @ThreadId=@threadid, @Msg=@message"
            >
            <parameter name="@machinename" layout="${machinename}" />
            <parameter name="@source" layout="My.Example" />
            <parameter name="@subsource" layout="${logger}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@threadname" layout="${threadname}" />
            <parameter name="@threadid" layout="${threadid}" />
            <parameter name="@message" layout="${message}. ${exception:format=ToString}" />
        </target>

        <target name="file_all" xsi:type="AsyncWrapper">
            <target
                name="fullLog"
                xsi:type="File"
                fileName="${fileLogDir}/${shortdate}_all.log"
                layout="${fileLayout}"
                 concurrentWrites="true" enableFileDelete="true" encoding="UTF-8"
                />
        </target>

        <target name="file_warn" xsi:type="AsyncWrapper">
            <target
                name="fullLog"
                xsi:type="File"
                fileName="${fileLogDir}/${shortdate}_warn.log"
                layout="${fileLayout}"
                 concurrentWrites="true" enableFileDelete="true" encoding="UTF-8"
                />
        </target>

        <!--<target
            name="systemLog"
            xsi:type="EventLog"
            layout="${logger}: ${message}. ${exception:format=ToString}"
            log="My.Example"
            source="My.Example"
            
            />-->

        <target xsi:type="Mail"
             name="mailtargetError"
                
             header="Project My.Example."
        
             layout="${fileLayout}"
             html="false"
             addNewLines="true"
             encoding="UTF-8"
                
             subject="My.Example error - NLog"
             to="websupport@uniconf.ru"
             from="nlog_error_notification@uniconf.ru"
             body="${fileLayout}"

             smtpAuthentication="None"
             smtpServer="172.16.20.24"
             smtpPort="25" />

        <target xsi:type="Mail"
             name="mailtargetBusinesMsg"
                
             header="Project My.Example."
        
             layout="${fileLayout}"
             html="false"
             addNewLines="true"
             encoding="UTF-8"
                
             subject="My.Example error - NLog"
             to="Ekaterina.Baranova@uniconf.ru"
             from="nlog_error_notification@uniconf.ru"
             body="${fileLayout}"

             smtpAuthentication="None"
             smtpServer="172.16.20.24"
             smtpPort="25" />

        <!--smtpUserName="Layout"
         enableSsl="Boolean"
         smtpPassword="Layout" footer="footer Layout"-->

    </targets>

    <rules>
        <!--<logger name="*" minlevel="Trace" writeTo="Console"  />-->

         <logger name="*" minlevel="Trace" writeTo="file_all"  />
        <!--<logger name="*" minlevel="Trace" writeTo="databaseLog" />-->
        <logger name="*" minlevel="Warn" writeTo="file_warn"  />
        <!--
        -->
        <!--<logger name="*" minlevel="Error" writeTo="systemLog"/>-->
        <!--<logger name="*" minlevel="Error" writeTo="mailtargetError"/>

        <logger name="*" minlevel="Info" writeTo="mailtargetBusinesMsg">
            <filters>
                <when condition="not contains(message,'FOR_BUSINESS')" action="Ignore"/>
            </filters>
        </logger>-->
    </rules>

</nlog>