<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="My.Example" connectionString="Data Source=localhost;Initial Catalog=My.Example;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
        <add name="My.Example_sa" connectionString="Data Source=localhost;Initial Catalog=My.Example;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <machineKey validationKey="32E35872597989D14CC1D5D9F5B1E94238D0EE32CF10AA2D2059533DF6035F4F" decryptionKey="B179091DBB2389B996A526DE8BCD7ACFDBCAB04EF1D085481C61496F693DF5F4" />
        <compilation debug="true" targetFramework="4.0">
            <expressionBuilders>
                <add expressionPrefix="Config" type="My.Common.ConfigExpressionBuilder, My.Common" />
            </expressionBuilders>
        </compilation>
        <customErrors mode="Off" />
        <authentication mode="Forms">
            <forms loginUrl="~/Anonym/Login.aspx" timeout="4320" name=".My.Example" slidingExpiration="true" defaultUrl="/" />
        </authentication>
        <authorization>
            <deny users="?" />
            <allow users="*" />
        </authorization>
        <caching>
            <sqlCacheDependency enabled="true" pollTime="10000">
                <databases>
                    <add name="a" connectionStringName="My.Example_sa" />
                </databases>
            </sqlCacheDependency>
        </caching>
        <pages viewStateEncryptionMode="Never" styleSheetTheme="Default">
            <controls>
                <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
                <add tagPrefix="ucc" assembly="My.WebServerControls" namespace="My.WebServerControls" />
                <add tagPrefix="uc" src="~/Controls/UpdateProgress.ascx" tagName="UpdateProgress" />
            </controls>
        </pages>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
</configuration>